<nav>
        <% if current_user %>
      <div class="nav-wrapper">
      <a href="/" class="brand-logo">Mentoring App</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to 'View Lists' , lists_path %></li>
          <li><%= link_to 'Create List', new_list_path %></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'View Lists' , lists_path %></li>
        <li><%= link_to 'Create List', new_list_path %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
        <% else %>
      <div class="nav-wrapper">
      <a href="/" class="brand-logo">Mentoring App</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'About', root_path %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'View Lists' , lists_path %></li>
        <li><%= link_to 'Create List', new_list_path %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
        <% end %>
    </div>
  </nav>
        